<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="nav.js"></script>
</head>
<body>

 

    <div class="container jumbo">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
       <div class="container">
  <div class="text-center"><h2>View Contact Details</h2></div>
  <table id="contacttable" class="table table-bordered">
    <tr class="bg-primary">
    <th>CONTACT PERSON</th>
    <th>EMAIL</th>
    </tr>
    <tr>
      <td>rahul</td>
      <td>rahul@gmail.com</td>
      
    </tr>
    <tr>
      <td>gouthami</td>
      <td>gouthami@gmail.com</td>
      
    </tr>
    <tr>
      <td>harshitha</td>
      <td>harshitha@gmail.com</td>
      
    </tr>
    <tr>
      <td>iswarya</td>
      <td>iswarya@gmail.com</td>
      
    </tr>
    <tr>
      <td>shirisha</td>
      <td>shirisha@gmail.com</td>
      
    </tr>
    <tr>
      <td>prasanna</td>
      <td>prasanna@gmail.com</td>
    
    </tr>
  </table>
</div>
      </div>

    </div> <!-- /container -->
<div class="container">
  <p>See full live action implemented in our site, <a href="https://reezhdesign.com" rel="author">ReeZh Design</a></p>
</div>







</body>
</html>
