
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  
  }
  body{
  
  
   background-repeat: no-repeat;
    background-size: cover;
  }
  .jumbo {
    padding-top: 50px;
    height: 200vh;
  }
   
  .navbar {
    a {
      color: $navbar-black;
    }
   
    }
   