<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="nav.js"></script>
</head>
<body>
  <div class="container jumbo">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
 
   <div class="container">
  <div class="column">
    <div class="row">    
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="assets/cplus.jpg" alt="C++ language" style="width:300px;height:200px">
      </div>
      <div class="flip-box-back">
        <h2>C++ Language</h2>
        <p>Fee:Rs.150/-</p>
        <button name="Enroll" class="btn btn-success"><span class="fa fa-thumbs-up"></span>Enroll</button>
      </div>
    </div>
  </div> 
     
       
  </div>
   </div>    
  <div class="column">
      <div class="row">  
      <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="assets/java.png" alt="Java programming" style="width:300px;height:200px">
      </div>
      <div class="flip-box-back">
        <h2>Java Programming</h2>
        <p>Fee:Rs.200/-</p>
        <button name="Enroll" class="btn btn-success"><span class="fa fa-thumbs-up"></span>Enroll</button>
      </div>
    </div>
  </div> 
     
      </div>
       
       </div>
       <div class="column">
           <div class="row">  
       <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="assets/c.jpg" alt="C Language" style="width:300px;height:200px">
      </div>
      <div class="flip-box-back">
        <h2>C Language</h2>
        <p>Fee:Rs.100/-</p>
        <button name="Enroll" class="btn btn-success"><span class="fa fa-thumbs-up"></span>Enroll</button>
      </div>
    </div>
  </div> 
</div>    
 </div>
 </div> 
  
     