
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  
  }
  body{
  
  
   background-repeat: no-repeat;
    background-size: cover;
  }
  .jumbo {
    padding-top: 30px;
    
  }
   
  .navbar {
    a {
      color: $navbar-black;
    }
    tr:hover {
      background-color: rgb(247, 247, 155);
      cursor: pointer
  }
   
 
  
   
  }
  #courseTable td,th {
    border: 1px solid #1f1e1e;
    text-align: left;
    padding: 8px;
}