<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="nav.js"></script>
</head>
<body>

 

    <div class="container jumbo">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
       <div class="container">
        <h2>
          Course Details:
      </h2>
    
              <table id="courseTable" class="table table-bordered">
                  <tr class="bg-primary">
            <th>Course Name</th>
            <th>Description</th>
            <th>Course Fee</th>
                  </tr>
          <tr>
            <td>C</td>
            <td>Programming language</td>
            <td>Rs.500/-</td>
          </tr>
          <tr>
            <td>JAVA</td>
            <td>Programming language</td>
            <td>Rs.400/-</td>
          </tr>
          <tr>
            <td>HTML</td>
            <td>Markup Language</td>
            <td>free</td>
          </tr>
          <tr>
            <td>CSS</td>
            <td>Style Sheet language</td>
            <td>Rs.200/-</td>
          </tr>
          <tr>
            <td>JavaScript</td>
            <td>Scripting language</td>
            <td>Rs.255/-</td>
          </tr>
        </table>
          
  <br>
  <div class="container">
  <form action="">
  <div class="checkbox-line">
  <label for="checkbox-inlne"><h2>Select Courses:</h2></label><br><br>
        <label><input type="checkbox" value="">JAVA</label>
      </div>
      <div class="checkbox-line">
        <label><input type="checkbox" value="">HTML</label>
      </div>
      
      <div class="checkbox-line">
        <label><input type="checkbox" value="">CSS</label>
      </div> 
    <div class="checkbox-line">
        <label><input type="checkbox" value="">C</label>
      </div>
    <div class="checkbox-line">
        <label><input type="checkbox" value="">JQUERY</label>
      </div> 
    <div class="checkbox-line">
        <label><input type="checkbox" value="">JAVASCRIPT</label>
      </div>
    <div class="checkbox-line">
        <label><input type="checkbox" value="">TYPESCRIPT</label>
      </div> 
     <div>
                      <button class="btn-primary btn-lg">Submit</button>
   
                
  



    </div> <!-- /container -->
<div class="container">
  <p>See full live action implemented in our site, <a href="https://reezhdesign.com" rel="author">ReeZh Design</a></p>
</div>







